@model COMP003B.Assignment6.Models.Actor

@{
    ViewData["Name"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Actors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
    </dl>
</div>

<div class="col-md-4">
	<h4>Actors</h4>
    <ul>
        @foreach (Actor actors in ViewBag.Actors)
		{
			<li>
				@actors.Name</li>
		}
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
